#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navbar_warapper a{
  padding-left: 30px;
}

.delete{
  background-color: #a90b0b;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}





